{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/banners/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
    <span class="image-credit">Source: 
    {% if page.image.credit %} 
    {{ page.image.credit }} 
    {% else %}
    National Ecological Observatory Network (NEON)
    {% endif %}
    </span>
  </div><!-- /.image-wrap -->
{% endif %}