<!-- This code looks for the code2016 YAML element. if that exists it will direct
the buttom below to the _posts directory where code is being stored now. If that doesn't
exist (older lessons pre DC lesson series) then it will look for the code in the  "/code"
directory. We aren't going to implement this just yet. for now we dump all code in the 
code directory or we manually add a folder to the path-->


{% if page.code2016 %}

<div id="relatedCode">
<h2>Get Lesson Code</h2>
(some browsers may require you to right click.)
<ul>
	<li>
 	<a href="{{ site.baseurl }}{{ page.code1 }}" class="btn btn-info"> {{ page.code2016 }} </a> </li>
	{% if page.code2016A%} 
	<li><a href="{{ site.baseurl }}{{ page.code2 }}">{{ page.code2016A }} </a></li>
	{% endif %}
</ul>

{% elsif page.code1 %}

<div id="relatedCode">
<h2>Get Lesson Code</h2>
(some browsers may require you to right click.)

<ul>
	<li>
 	<a href="{{ site.baseurl }}/code/{{ page.code1 }}" class="btn btn-info"> {{ page.code1 }} </a> </li>

	{% if page.code2%} <li><a href="{{ site.baseurl }}/code/{{ page.code2 }}">{{ page.code2 }} </a></li>{% endif %}
</ul>


{%  endif %}
</div>