<div><a href="https://ndownloader.figshare.com/files/3701572" class="btn btn-success">
Download NEON Teaching Data Subset: Meteorological Data for Harvard Forest</a>
</div>

The data used in this lesson were collected at the 
<a href="http://www.neoninc.org/" target="_blank"> National Ecological Observatory Network's</a>  
<a href="http://www.neoninc.org/science-design/field-sites/harvard-forest" target="_blank"> Harvard Forest field site</a>. 
These data are proxy data for what will be available for 30 years on the
 <a href="http://data.neoninc.org/" target="_blank">NEON data portal</a>
for the Harvard Forest and other field sites located across the United States.
