<div><a href="https://ndownloader.figshare.com/files/3634374" class="btn btn-success">
Download NEON Teaching Data Subset: Harvard Forest Shapefiles</a></div>

The vector data used in this lesson were collected at the 
<a href="http://www.neoninc.org/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://www.neoninc.org/science-design/field-sites/harvard-forest" target="_blank"> Harvard Forest field site.</a> 
These data are proxy data for what will be available for 30 years from the NEON
flux towers from the 
<a href="http://data.neoninc.org/" target="_blank"> NEON data portal</a>.