<div><a href="https://ndownloader.figshare.com/files/3701575" class="btn btn-success">
Download NEON Teaching Data Subset: Landsat-derived NDVI raster files</a>
</div>

The imagery data used to create this raster teaching data subset were 
collected over the 
<a href="http://www.neoninc.org/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://www.neoninc.org/science-design/field-sites/harvard-forest" target="_blank" >Harvard Forest</a>
and 
<a href="http://www.neoninc.org/science-design/field-sites/san-joaquin-experimental-range" target="_blank"> San Joaquin Experimental Range</a>
field sites.  
The imagery was created by the U.S. Geological Survey (USGS) using a 
<a href="http://eros.usgs.gov/#/Find_Data/Products_and_Data_Available/MSS" target="_blank" >  multispectral scanner</a>
on a <a href="http://landsat.usgs.gov" target="_blank" > Landsat Satellite.</a>
The data files are Geographic Tagged Image-File Format (GeoTIFF).
