<div><a href="https://ndownloader.figshare.com/files/3701578" class="btn btn-success"> Download NEON Teaching Data Subset: Airborne Remote Sensing Data</a>
</div>

The LiDAR and imagery data used to create this raster teaching data subset 
were collected over the 
<a href="http://www.neoninc.org/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://www.neoninc.org/science-design/field-sites/harvard-forest" target="_blank" >Harvard Forest</a>
and 
<a href="http://www.neoninc.org/science-design/field-sites/san-joaquin-experimental-range" target="_blank" >San Joaquin Experimental Range</a>
field sites and processed at
<a href="http://www.neoninc.org" target="_blank" >NEON headquarters.</a> 
The entire dataset can be accessed by request from the 
<a href="http://www.neoninc.org/data-resources/get-data/airborne-data" target="_blank"> NEON Airborne Data Request Page </a> on the NEON website.
