<div><a href="https://ndownloader.figshare.com/files/3701569" class="btn btn-success">
Download NEON Teaching Data Subset: Site Layout Shapefiles</a>
</div>

These vector data provide information on the site characterization and 
infrastructure at the 
<a href="http://www.neoninc.org/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://www.neoninc.org/science-design/field-sites/harvard-forest" target="_blank"> Harvard Forest</a> 
field site.
The Harvard Forest shapefiles are from the 
 <a href="http://harvardforest.fas.harvard.edu/gis-maps/" target="_blank">Harvard Forest GIS & Map</a> 
archives. US Country and State Boundary layers are from the 
<a href="https://www.census.gov/geo/maps-data/data/tiger-cart-boundary.html" target="_blank">US Census Bureau</a>.
