<a href="http://files.figshare.com/24377099990/AtmosData.zip" class="btn btn-success">
Download Atmospheric Data</a>

The data used in this lesson were collected at Harvard Forest which is
an National Ecological Observatory Network  <a href="http://www.neoninc.org/science-design/field-sites/harvard-forest" target="_blank">
field site</a>. These data are proxy data for what will be available for 30 years
on the [NEON data portal](http://data.neoninc.org/ "NEON data")
for both Harvard Forest and other field sites located across the United States.