<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _imageFeature.html %}


<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index">
  <h1>{{ page.title }}</h1>
 <header id="post-header">
   <!-- <h1 id="post-title">{{ page.category }}</h1>
    <h4 id="post-subtitle">Articles by category</h4> -->
</header>

<div id="post-content">
<div id="tutorial-series-content">
{{ content }}
</div>

{% for member in site.data.tutorialSeries %}
{% assign counter = 0 %}
<!-- this code counts the number of posts associated with each tutorial series member (tutorialSeries.yml -->
{% for post in site.posts %}
	{% if post.tutorialSeries contains member.slug %}
	{% assign counter = counter | plus: 1 %}
	{% endif %}
{% endfor %}	

  <article class="tutorial-series">	
            <a href="{{ site.baseurl }}/tutorial-series/{{ member.slug }}" class="list-group-item">
                <h2 class="list-group-item-heading">{{ member.name  }}</h2>
                <span class="post-date">
                {% if member.lastModified %}last modified: {{ member.lastModified | date: "%b %-d, %Y" }}{% endif %}</span>

            <p>{{ member.description }}</p>
            <strong>Total tutorials: {{ counter }}</strong>
            </a>
   </article>         
{% endfor %}

</div><!-- /#post-content -->

</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>






























