<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/highlightjs/styles/zenburn.css">
<script src="{{ site.baseurl }}/assets/highlightjs/highlight.packR.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _imageFeature.html %}






<div id="mainWorkshop" role="main">
  <div class="article-author-side">

{% include _workshop_sideBar.html %}



   

  </div>
  <article>
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
    </div><!--/ .headline-wrap -->

    <div class="article-wrap">
      {{ content }}



<!-- The code directly below is required to generate tags and categories at the page bottom-->

{% assign post = page %}

<!-- This code generates the category link at the bottom of the page-->

		{% if post.category %}
            {% for site_category in site.data.categories %}
                {% if site_category.slug == post.category %}
                    {% assign category = site_category %}
                {% endif %}
            {% endfor %}
            {% if category %}
                {% capture category_content %}posted in <span class="label" style="background-color:{{ category.color }}"><a href="{{ site.baseurl }}/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
            {% endif %}
        {% else %}
            {% assign category_content = '' %}
        {% endif %}

        {% if post.tags.size > 0 %}
            {% capture tags_content %} with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
            {% for post_tag in post.tags %}
                {% for data_tag in site.data.tags %}
                    {% if data_tag.slug == post_tag %}
                        {% assign tag = data_tag %}
                    {% endif %}
                {% endfor %}
                {% if tag %}
                    {% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.baseurl }}/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                    {% assign tags_content = tags_content_temp %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% assign tags_content = '' %}
        {% endif %}

<!-- remove the stuff above if the site slows down - this is to populate tags -->


      <hr />
      {% include _relatedCode.html %}

      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include _author-bio.html %}
        </div>
        <p class="byline id="post-meta"><strong>{{ page.title }}</strong> was {{ category_content }}{{ tags_content }}
       on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %} by {{ page.authors }}. {% if page.contributors %} Contributors: Huge thanks to <strong>{{ page.contributors }} </strong> for input and feedback! {% endif %} <a href="{{ site.url }}/about" title="About {{ site.owner.name }}">About {{ site.owner.name }}</a>.</p>
      </footer>


    <!-- /.article-wrap -->

  {% if site.disqus_shortname and page.comments %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}

  </div>
  </article>
</div><!-- /#main -->



<div class="footer-wrap">
  <div class="related-articles">
  <!-- <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all activities</a>)</small></h4> -->
<h2><a>Related Content:{{ page.mainTag }}</a></h2>
{% for post in site.posts %}
    {% if post.tags contains page.mainTag  %}
        <ul class="posts">
        <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        </ul>
    {% endif %}
{% endfor %}
  </div><!-- /.related-articles -->
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
